* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: hsl(28deg, 100%, 97%);
}

p {
  padding: 2px 4px;
}

.fa-pen-to-square,
.fa-plus {
  color: green;
  pointer-events: none;
}

.fa-xmark {
  color: red;
  pointer-events: none;
}

.nav-bar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: hsl(201deg, 33%, 65%);
  box-shadow: 0px 0px 50px hsl(201deg, 33%, 65%);
}
.nav-bar__item {
  padding: 8px 16px;
}
.nav-bar__btn {
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 2.4rem;
  transition: opacity 0.5s;
  opacity: 0.8;
  color: hsl(0deg, 0%, 13%);
  cursor: pointer;
}
.nav-bar__btn::before {
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  background-color: hsl(0deg, 0%, 7%);
  transition: width 0.5s, transform 0.5s;
  content: "";
}
.nav-bar__btn:hover {
  opacity: 1;
  color: hsl(0deg, 0%, 7%);
}
.nav-bar__btn:hover::before {
  left: 0;
  width: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
  height: 100%;
  max-width: 1820px;
}
.calendar__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: hsl(0deg, 0%, 7%);
}
.calendar-day {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  background-color: hsl(33deg, 30%, 63%);
  font-weight: bold;
  font-size: 2rem;
}
.calendar__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: hsl(28deg, 100%, 97%);
}
.calendar__foods {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: hsl(28deg, 100%, 97%);
  color: hsl(0deg, 0%, 7%);
}
.calendar__food-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid hsl(33deg, 30%, 63%);
}
.calendar__food-column:first-child {
  border-left: 4px solid hsl(33deg, 30%, 63%);
}
.calendar__food-column:last-child {
  border-right: 4px solid hsl(33deg, 30%, 63%);
}
.calendar__food-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: hsl(28deg, 100%, 97%);
  font-size: 1.6rem;
  z-index: 0;
}
.calendar__food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px dashed hsl(0deg, 0%, 7%);
  order: 0;
}
.calendar__food-item:last-child {
  border-bottom: 1px dashed hsl(0deg, 0%, 7%);
}
.calendar__food-name {
  text-align: center;
  padding: 4px 8px;
}
.calendar__food-remove {
  font-weight: bold;
  height: 100%;
  padding: 4px;
  margin: 0 8px;
  font-size: 2rem;
  color: firebrick;
  cursor: pointer;
}
.calendar__food-category {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-weight: bold;
  border-top: 2px solid hsl(33deg, 30%, 63%);
  border-bottom: 2px solid hsl(33deg, 30%, 63%);
  background-color: hsl(24deg, 50%, 89%);
}
.calendar__food-list {
  position: relative;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.calendar__resume-day-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(28deg, 100%, 97%);
  border-top: 2px solid hsl(33deg, 30%, 63%);
  border-bottom: 2px solid hsl(33deg, 30%, 63%);
}
.calendar__resume-text {
  order: 0;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 4px 8px;
  color: hsl(0deg, 0%, 7%);
}
.calendar__food-show-btn {
  width: 80%;
  height: 100%;
  margin: 8px auto;
  padding: 4px 8px;
  background-color: hsl(28deg, 100%, 97%);
  transition: background-color 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  order: 1;
}
.calendar__food-show-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.calendar__append {
  width: 80%;
  height: 100%;
  margin: 5px auto;
  padding: 8px;
  background-color: hsl(0deg, 0%, 93%);
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  order: 1;
}
.calendar__append:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.calendar__add-product {
  margin: 2px auto;
  width: 80%;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.calendar__add-product:hover {
  background-color: hsl(24deg, 50%, 89%);
}
.calendar__resume {
  width: 100%;
  height: 100%;
  background-color: #666;
  color: #111;
}

.add-manager {
  position: relative;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: hsl(28deg, 100%, 97%);
}
.add-manager__list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  height: calc(100vh - 80px - 50px);
  background-color: hsl(33deg, 30%, 63%);
  border: 2px solid;
  overflow-y: scroll;
}
.add-manager__list-item {
  display: flex;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
  background-color: hsl(24deg, 50%, 89%);
}
.add-manager__list-item:nth-child(2n) {
  background-color: hsl(27deg, 56%, 80%);
}
.add-manager__list-btn {
  padding: 6px 8px;
  margin: 0 auto;
  border: 2px solid hsl(33deg, 30%, 63%);
  border-radius: 8px;
  transition: background-color 0.25s ease;
  font-weight: bold;
  cursor: pointer;
}
.add-manager__list-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.add-manager__list-btn--edit {
  margin-right: 0;
}
.add-manager__product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsl(33deg, 30%, 63%);
  border: 2px solid;
}
.add-manager__product-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.add-manager__product-details {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: hsl(27deg, 56%, 80%);
}
.add-manager__name-box {
  display: flex;
  margin-top: 20px;
  justify-content: start;
}
.add-manager__category-box {
  position: relative;
  display: flex;
  height: 180px;
  max-height: 40px;
  margin: 10px 0;
  transition: max-height 0.7s ease;
}
.add-manager__category-box:hover {
  max-height: 180px;
}
.add-manager__category-dropdown {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  height: 3.3rem;
  transition: height 0.7s ease;
  overflow: hidden;
}
.add-manager__category-dropdown:hover {
  height: 100%;
}
.add-manager__category-btn {
  padding: 4px 8px;
  background-color: hsl(24deg, 50%, 89%);
  border: 2px solid hsl(33deg, 30%, 63%);
  transition: background-color 0.5s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
  order: 1;
}
.add-manager__category-btn--active {
  order: 0;
}
.add-manager__category-btn--active::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  font-weight: 900;
  content: "\f07d";
}
.add-manager__category-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
  color: hsl(0deg, 0%, 100%);
}
.add-manager__ingredient-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: hsl(24deg, 50%, 89%);
  border: 1px dashed;
}
.add-manager__ingredient-details {
  width: 100%;
  display: flex;
  justify-content: start;
}
.add-manager__ingredient-macro-box {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.add-manager__ingredient-macro-box .carbohydrates {
  font-size: 1.4rem;
}
.add-manager__ingredient-macro-box .protein {
  font-size: 1.4rem;
}
.add-manager__ingredient-macro-box .fat {
  font-size: 1.4rem;
}
.add-manager__ingredient-manage-box {
  width: 18%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.add-manager__ingredient-macro-item {
  padding-right: 4px;
}
.add-manager__ingredient-manage-item {
  padding: 4px 6px;
  cursor: pointer;
}
.add-manager__ingredient-add-btn {
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid hsl(33deg, 30%, 63%);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}
.add-manager__ingredient-add-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.add-manager__ingredient-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: calc(50% - 65px);
  background-color: hsla(0deg, 0%, 0%, 0.6);
  translate: -50% -50%;
}
.add-manager__ingredient-modal .modal-container {
  position: relative;
  width: 400px;
  height: 360px;
  background-color: hsl(27deg, 56%, 80%);
  border: 2px solid;
  border-radius: 8px;
}
.add-manager__ingredient-modal .input-field {
  margin-left: 10px;
  padding: 4px;
}
.add-manager__modal-btn {
  position: absolute;
  padding: 4px 8px;
  right: 60px;
  bottom: 50px;
  width: 90px;
  border: 2px solid hsl(33deg, 30%, 63%);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.add-manager__modal-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.add-manager__modal-btn:last-child {
  top: 50px;
  bottom: auto;
}
.add-manager__modal-btn i {
  font-size: 8rem;
}
.add-manager__macro-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.add-manager__product-image {
  width: 50%;
  background-color: hsl(24deg, 50%, 89%);
}
.add-manager__label {
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.add-manager__label--modal {
  font-size: 1.8rem;
  text-align: start;
}
.add-manager__label--ingredient {
  width: 34%;
  padding: 4px 8px;
  font-size: 1.6rem;
  text-align: start;
}
.add-manager__label--weight {
  width: 8%;
  font-size: 1.6rem;
  text-align: start;
  align-self: center;
  padding: 0;
}
.add-manager__label--name {
  font-size: 1.6rem;
  text-align: start;
}
.add-manager__label--category {
  font-size: 1.6rem;
  text-align: start;
}
.add-manager__label--macro {
  margin-left: 20px;
  padding: 4px 8px;
  font-size: 1.4rem;
  text-align: start;
  font-weight: normal;
}
.add-manager__create-box {
  margin: 10px auto;
}
.add-manager__create-product-btn {
  padding: 8px 16px;
  border: 2px solid hsl(33deg, 30%, 63%);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}
.add-manager__create-product-btn:hover {
  background-color: hsl(33deg, 30%, 63%);
}
.add-manager .product-name {
  background-color: hsl(24deg, 50%, 89%);
  border: none;
  padding: 0 12px;
  border-radius: 8px;
  outline: 2px solid hsl(33deg, 30%, 63%);
}
.add-manager .product-name:focus {
  outline: 2px solid hsl(0deg, 0%, 7%);
}
.add-manager .input-field {
  padding: 6px 12px;
  background-color: hsl(24deg, 50%, 89%);
  border: none;
  border-radius: 8px;
  outline: 2px solid hsl(33deg, 30%, 63%);
}
.add-manager .input-field:focus {
  outline: 2px solid hsl(0deg, 0%, 7%);
}

.disabled {
  display: none;
}

/*# sourceMappingURL=style.css.map */
