$nav-height: 80px;
$content-offset: 50px;
$primary-dark: hsl(201, 33%, 65%);
$primary-light: hsl(201, 65%, 92%);
$complementary-dark: hsl(33, 30%, 63%);
$complementary-medium: hsl(27, 56%, 80%);
$complementary-light: hsl(24, 50%, 89%);
$background-light: hsl(28, 100%, 97%);
$text-light: hsl(0, 0%, 93%);
$text-lighter: hsl(0, 0%, 100%);
$text-dark: hsl(0, 0%, 13%);
$text-darker: hsl(0, 0%, 7%);
