@import './_constants.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	background-color: $background-light;
}

p {
	padding: 2px 4px;
}

.fa-pen-to-square,
.fa-plus {
	color: green;
	pointer-events: none;
}

.fa-xmark {
	color: red;
	pointer-events: none;
}

.nav-bar {
	height: $nav-height;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background-color: $primary-dark;
	box-shadow: 0px 0px 50px $primary-dark;

	&__item {
		padding: 8px 16px;
	}

	&__btn {
		position: relative;
		background: none;
		border: none;
		outline: none;
		font-weight: bold;
		font-size: 2.4rem;
		transition: opacity 0.5s;
		opacity: 0.8;
		color: $text-dark;
		cursor: pointer;

		&::before {
			position: absolute;
			right: 0;
			width: 0;
			bottom: 0;
			height: 2px;
			background-color: $text-darker;
			transition: width 0.5s, transform 0.5s;
			content: '';
		}

		&:hover {
			opacity: 1;
			color: $text-darker;
			&::before {
				left: 0;
				width: 100%;
			}
		}
	}
}

.calendar {
	display: flex;
	flex-direction: column;
	margin: $content-offset auto 0;
	width: 100%;
	height: 100%;
	max-width: 1820px;

	&__header {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		color: $text-darker;
	}

	&-day {
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		text-align: center;
		background-color: $complementary-dark;
		font-weight: bold;
		font-size: 2rem;
	}

	&__content {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		background-color: $background-light;
	}

	&__foods {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: $background-light;
		color: $text-darker;
	}

	&__food-column {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		border: 2px solid $complementary-dark;

		&:first-child {
			border-left: 4px solid $complementary-dark;
		}

		&:last-child {
			border-right: 4px solid $complementary-dark;
		}
	}

	&__food-box {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: $background-light;
		font-size: 1.6rem;
		z-index: 0;
	}

	&__food-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		border-bottom: 1px dashed $text-darker;
		order: 0;

		&:nth-child(2n) {
			background-color: $complementary-medium;
		}
	}

	&__food-name {
		text-align: center;
		padding: 4px 8px;
	}

	&__food-remove {
		font-weight: bold;
		height: 100%;
		padding: 4px;
		margin: 0 8px;
		font-size: 2rem;
		color: firebrick;
		cursor: pointer;
	}

	&__food-category {
		width: 100%;
		height: 100%;
		padding: 8px;
		font-weight: bold;
		border-top: 2px solid $complementary-dark;
		border-bottom: 2px solid $complementary-dark;
		background-color: $complementary-light;
	}

	&__food-list {
		position: relative;
		top: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		z-index: 1;
	}

	&__resume-day-box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: $background-light;
		border-top: 2px solid $complementary-dark;
		border-bottom: 2px solid $complementary-dark;
	}

	&__resume-text {
		order: 0;
		font-weight: bold;
		font-size: 1.6rem;
		padding: 4px 8px;
		color: $text-darker;
	}

	&__food-show-btn {
		width: 80%;
		height: 100%;
		margin: 8px auto;
		padding: 4px 8px;
		background-color: $background-light;
		transition: background-color 0.3s ease;
		border-radius: 8px;
		cursor: pointer;
		order: 1;

		&:hover {
			background-color: $complementary-dark;
		}
	}

	&__append {
		width: 80%;
		height: 100%;
		margin: 5px auto;
		padding: 8px;
		background-color: $background-light;
		border: 2px solid;
		border-radius: 8px;
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.3s ease;
		order: 1;

		&:hover {
			background-color: $complementary-dark;
		}
	}

	&__add-product {
		margin: 2px auto;
		width: 80%;
		padding: 4px 8px;
		border: 1px solid;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: $complementary-light;
		}
	}

	&__resume {
		width: 100%;
		height: 100%;
		background-color: #666;
		color: #111;
	}
}

.add-manager {
	position: relative;
	margin: $content-offset auto 0;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 20px;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	background-color: $background-light;

	////////////////////////////////List box
	&__list-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		width: 30%;
		height: calc(100vh - $nav-height - $content-offset);
		background-color: $complementary-dark;
		border: 2px solid;
		overflow-y: scroll;
	}

	&__list-item {
		display: flex;
		width: 100%;
		padding: 8px;
		justify-content: space-between;
		background-color: $complementary-light;

		&:nth-child(2n) {
			background-color: $complementary-medium;
		}
	}

	&__list-btn {
		padding: 6px 8px;
		margin: 0 auto;
		border: 2px solid $complementary-dark;
		border-radius: 8px;
		transition: background-color 0.25s ease;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: $complementary-dark;
		}
	}

	&__list-btn--edit {
		margin-right: 0;
	}
	/////////////////////////////////////
	///
	///

	&__test {
		width: 100%;
	}

	&__product-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		height: 100%;
		width: 100%;
		background-color: $complementary-dark;
		border: 2px solid;
	}

	&__product-box {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	&__product-details {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 50%;
		background-color: $complementary-medium;
	}

	&__name-box {
		display: flex;
		margin-top: 20px;
		justify-content: start;
	}

	&__category-box {
		position: relative;
		display: flex;
		height: 100%;
		margin: 10px 0;
	}

	&__category-dropdown {
		display: flex;
		flex-direction: column;
		padding: 4px 0;
		max-height: 3.3rem;
		overflow: hidden;
		transition: max-height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

		&:hover {
			max-height: 180px;
		}
	}

	&__category-btn {
		padding: 4px 8px;
		background-color: $complementary-light;
		border: 2px solid $complementary-dark;
		transition: background-color 0.5s, color 0.3s;
		font-weight: bold;
		cursor: pointer;
		order: 1;

		&--active {
			order: 0;

			&::after {
				font-family: 'Font Awesome 5 Free';
				font-size: 1.6rem;
				font-weight: 900;
				content: '\f07d';
			}
		}

		&:hover {
			background-color: $complementary-dark;
			color: $text-lighter;
		}
	}

	&__ingredient-box {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: $complementary-light;
	}

	&__ingredient-details {
		width: 100%;
		display: flex;
		justify-content: start;
	}

	&__ingredient-macro-box {
		display: flex;
		width: 40%;
		justify-content: center;
		align-items: center;

		.carbohydrates {
			font-size: 1.4rem;
		}
		.protein {
			font-size: 1.4rem;
		}
		.fat {
			font-size: 1.4rem;
		}
	}

	&__ingredient-manage-box {
		width: 18%;
		min-width: 70px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	&__ingredient-macro-item {
		padding-right: 4px;
	}

	&__ingredient-manage-item {
		padding: 4px 6px;
		cursor: pointer;
	}

	&__ingredient-add-btn {
		margin: 10px auto;
		padding: 10px 20px;
		border: 2px solid $complementary-dark;
		border-radius: 8px;
		transition: background-color 0.3s ease;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: $complementary-dark;
		}
	}

	&__ingredient-modal {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		left: 50%;
		top: calc(50% - ($nav-height + $content-offset) / 2);
		background-color: hsl(0, 0, 0, 0.6);
		translate: -50% -50%;

		.modal-container {
			position: relative;
			width: 400px;
			height: 360px;
			background-color: $complementary-medium;
			border: 2px solid;
			border-radius: 8px;
		}

		.input-field {
			margin-left: 10px;
			padding: 4px;
		}
	}

	&__modal-btn {
		position: absolute;
		padding: 4px 8px;
		right: 60px;
		bottom: 50px;
		width: 90px;
		border: 2px solid $complementary-dark;
		border-radius: 8px;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			background-color: $complementary-dark;
		}

		&:last-child {
			top: 50px;
			bottom: auto;
		}

		i {
			font-size: 8rem;
		}
	}

	&__macro-box {
		display: flex;
		flex-direction: column;
		width: 35%;
	}

	&__product-image {
		width: 50%;
		background-color: $complementary-light;
		border-left: 2px solid $complementary-dark;
	}

	&__label {
		padding: 10px 20px;
		text-align: center;
		font-weight: bold;
		font-size: 2rem;

		&--modal {
			font-size: 1.8rem;
			text-align: start;
		}

		&--ingredient {
			width: 34%;
			padding: 4px 8px;
			font-size: 1.6rem;
			text-align: start;
		}

		&--weight {
			width: 8%;
			font-size: 1.6rem;
			text-align: start;
			align-self: center;
			padding: 0;
		}

		&--name {
			font-size: 1.6rem;
			text-align: start;
		}

		&--list {
			font-size: 1.6rem;
			align-self: center;
		}

		&--category {
			display: inline;
			font-size: 1.6rem;
			text-align: start;
		}

		&--macro {
			margin-left: 20px;
			padding: 4px 8px;
			font-size: 1.4rem;
			text-align: start;
			font-weight: normal;
		}
	}

	&__create-box {
		margin: 10px auto;
	}

	&__create-product-btn {
		padding: 8px 16px;
		border: 2px solid $complementary-dark;
		border-radius: 8px;
		transition: background-color 0.3s ease;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: $complementary-dark;
		}
	}

	.product-name {
		background-color: $complementary-light;
		border: none;
		padding: 0 12px;
		border-radius: 8px;
		outline: 2px solid $complementary-dark;

		&:focus {
			outline: 2px solid $text-darker;
		}
	}

	.input-field {
		padding: 6px 12px;
		background-color: $complementary-light;
		border: none;
		border-radius: 8px;
		outline: 2px solid $complementary-dark;

		&:focus {
			outline: 2px solid $text-darker;
		}
	}
}

.disabled {
	display: none;
}
